.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base {
  padding: 74px;
  background-color: #c4c4c4;
}

.result-field {
  display: flex;
  flex-direction: column;
}
.variant-block {
  width: 500px;
  font-size: 24px;
}

.result-block {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 100px;
  padding: 20px;
  background-color: #e27beb;
}
